:root {
  --yellow: #fff219;
  --red: #ff0019;
  --black: #000000;
}

/** FONTS **/
/* There's no italic font. If needed, I need to enable it */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
}
/* TODO: maybe only  */
@font-face {
  /* font-family: "Unbounded"; */
  /* TODO: src */
  /* font-weight: 300 800; */
  /* font-style: normal; */
}

html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #252424;
  color: #E7E3E3;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

.cont {
  /* TODO: max-width - так типа легче делать адаптив вроде) Проверить: сначала width - посижу и подумаю над адапьтивом - сделать max-width */
  width: 1200px;
  margin: 10px auto;
}

/* Simple .text would be 16px fz */
/* .text {
  font-size: 16px;
} */
.text--small {
  font-size: 14px;
}
.text--semibold {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}

.btn {
  /* TODO: различаются цвета элементов и фирменный цвет; в том числе жёлтый */
  background-color: #DF0028;
  border: none;
  cursor: pointer;
  border-radius: 30px; /* TODO: could be too much. Mb consider using rems */
  font-size: inherit;
  color: #FFFDFD;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}
.btn--dropdown {
  padding-right: 60px;
  position: relative;
}
/* .btn--dropdown::after {
  content: "q";
  position: absolute;
  right: 27px;
} */
 .btn--dropdown__icon {
  position: absolute;
  right: 27px;
  top: 21px;
 }
.btn--long {
  padding-left: 92px;
  padding-right: 92px;
}
.btn-slider {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: 1px solid #FFE73F;
  border-radius: 50%;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #FFE73F;
}

.search {
  position: relative;
  display: inline-block;
}
/* TODO: Mb мне не надо будет прям баттон. Мб это просто иконка, т.к. скорее всего будет просто клик на айтем */
.search__input {
  padding: 10px 14px;
  background-color: #ECF1F2;
  border-radius: 30px;
  border: 1px solid #333333;
  font-size: 14px;
}
.search__icon {
  position: absolute;
  top: 10.5px;
  right: 10px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-with-icon {
  display: flex;
}
.text-with-icon__icon {
  margin-right: 7.5px;
  margin-top: 4px;
}

.link-social-cont {
  display: flex;
  column-gap: 10px;
}
.link-social {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
}
.link-social--whatsapp {
  background-color: #7BE4AC;
}
.link-social--viber {
  background-color: #665CAC;
  text-align: center;
  line-height: 26px;
}
.link-social--telegram {
  background-color: #32A9E6;
}

.btn-burger {
  cursor: pointer;
}