:root {
  --yellow: #fff219;
  --red: #ff0019;
  --black: #000000;

  /* TODO: variables for fonts: regular, semibold, bold, etc. */
}

/** FONTS **/
/* There's no italic font. If needed, I need to enable it */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
}
/* TODO: maybe only the specified text letters; 2. not variable, but regular) */
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded-VariableFont_wght.ttf") format('truetype');
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/** COMPONENTS **/

html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #252424;
  color: #E7E3E3;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

.cont {
  /* TODO: max-width - так типа легче делать адаптив вроде) Проверить: сначала width - посижу и подумаю над адапьтивом - сделать max-width */
  width: 1200px;
  margin: 10px auto;
}

/* Simple .text would be 16px fz */
/* .text {
  font-size: 16px;
} */
.text--small {
  font-size: 14px;
}
.text--larger {
  font-size: 18px;
}
.text--big {
  font-weight: 600;
  font-size: 24px;
}
.text--semibold {
  font-weight: 600;
}
.text--bold {
  font-weight: 700;
}

.btn {
  /* TODO: различаются цвета элементов и фирменный цвет; в том числе жёлтый */
  background-color: #DF0028;
  border: none;
  cursor: pointer;
  border-radius: 30px; /* TODO: could be too much. Mb consider using rems */
  font-size: inherit;
  color: #FFFDFD;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  text-decoration: none;
  display: inline-block;
}
.btn--dropdown {
  padding-right: 60px;
  position: relative;
}
/* .btn--dropdown::after {
  content: "q";
  position: absolute;
  right: 27px;
} */
 .btn--dropdown__icon {
  position: absolute;
  right: 27px;
  top: 21px;
 }
.btn-slider {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: 1px solid #FFE73F;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFE73F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-slider--inactive {
  outline: 1px solid gray;
  color: gray;
  cursor: auto;
}
.btn-slider--inactive svg path {
  fill: gray;
}
.btn-slider__img {
  position: relative;
  top: 2.5px;
}
.slider {
  position: relative;
}
/* TODO: Wrapper is needed because by design there buttons outside of slider's intrinsic width */
.slider__wrapper {
  overflow-x: hidden;
}
.slider__btn-slider {
  position: absolute;
}
.slider__btn-slider--prev {
  left: -70px;
  top: calc(50% - 25px);
}
.slider__btn-slider--next {
  right: -70px;
  bottom: calc(50% - 25px);
}
.slider__track {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 22px;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - 44px) / 3); /* TODO: how this works?( */
  /* grid-auto-columns: 380px; */ /* TODO: del */
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.search {
  position: relative;
  display: inline-block;
}
/* TODO: Mb мне не надо будет прям баттон. Мб это просто иконка, т.к. скорее всего будет просто клик на айтем */
/* Хотя мб и норм - по нажатию можно отсылать на страницу с р-татами поиска - и это уже будет ссылка, а не кнопка? */
.search__input {
  padding: 10px 14px;
  padding-right: 38px;
  background-color: #ECF1F2;
  border-radius: 30px;
  border: 1px solid #333333;
  font-size: 14px;
}
.search__icon {
  position: absolute;
  top: 12.5px;
  right: 10px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-with-icon {
  display: flex;
}
.text-with-icon--pin__text-cont {
  margin-top: 4px;
}
.text-with-icon__icon {
  margin-right: 7.5px;
  margin-top: 4px;
}

.link-social-cont {
  display: flex;
  column-gap: 10px;
}
.link-social {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
}
.link-social--whatsapp {
  background-color: #7BE4AC;
}
.link-social--viber {
  background-color: #665CAC;
  text-align: center;
  line-height: 26px;
}
.link-social--telegram {
  background-color: #32A9E6;
}

.btn-burger {
  cursor: pointer;
}

.section {
  margin-bottom: 255px;
}
.section-design--about {
  background-color: #FEDE32;
  padding-top: 51px;
  padding-bottom: 28px;
}
.section-design--about__cont {
  display: grid;
  grid-template-rows: 37px 1fr 37px;
  justify-content: center;
  text-align: center;
  /* TODO: tell grid children to not stretch in width */
}
.section-design--about__text--big {
  color: #2C2B2A;
  opacity: .8;
}

.section-design--trust {
  min-height: 499px;
  margin-bottom: 31px;
}
.section-design--trust__logo {
  float: right;
  margin-top: 82px;
  margin-right: 55px;
}

.text-design {
  font-family: "Unbounded";
  /* background: green; */
  font-size: 20px;
  color: var(--black); /* TODO: mb remove and set opaque + bg) */
}

.title-section {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

/** LAYOUT COMPONENTS **/
.header {
  padding-top: 25px;
  padding-bottom: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr;
}
.header__text {
  margin-top: 4px;
  padding-left: 27px;
}
.header__search {
  margin-right: 15px;
}
.header__row-2-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text-with-icon--row-2-col-1 {
  position: relative;
  left: -24px;
}
.header__text-with-icon--row-2-col-2 {
  position: relative;
  top: 11px;
}

.card {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid gray; /* TODO: edit */
  background-color: #FEDE32;
  display: inline-block; /* TODO: del) */
  color: #494547;
  border-radius: 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto minmax(175px, 1fr) auto;
}
.card__img-cont {
  position: relative;
  background-color: #F2F4F7;
  border-radius: 40px;
  text-align: center;
}
.card__btn {
  font-size: 18px;
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.card__title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  position: relative;
  margin-top: 14px;
  margin-bottom: 14px;
  color: #494547;
}
.card__title__2nd-line {
  position: absolute;
  display: block;
}
.card__list::before {
  content: "";
  display: block;
  border-bottom: 2px solid #DF2623;
  position: relative;
  left: -18px;
  top: -12px; /* TODO: del) */
  top: -8px; /* TODO: del) */
  top: -14px;
  width: 70px;
}
.card__list {
  padding-left: 18px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 18px;
}
.card__list li {
  margin-bottom: 12px;
  color: #DF2623;
}
.card__list__item-text {
  color: #494547;
}
.card__list li:last-child {
  margin-bottom: 0;
}
.logo--small__container {
  background-color: #FEDE32;
  position: absolute;
  top: 16px;
  left: 17px;
  padding: 3px 12px;
}

.title-and-text__title {
  font-weight: 600;
  color: #FFFDFD;
}
.title-and-text__text {
  padding-left: 0;
}
.title-and-text__text::before {
  top: -21px;
  left: 0;
}

.items-spaced-list-design {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}
.items-spaced-list-design__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 70% 25%;
}
.items-spaced-list-design__item:nth-child(even) {
  margin-top: 105px;
  grid-template-columns: 25% 70%;
}
.items-spaced-list-design__item:nth-child(odd) .items-spaced-list-design__num {
  text-align: right;
  order: 2;
}
.items-spaced-list-design__num {
  font-weight: 600;
  font-size: 130px;
  color: #FFF219;
  text-shadow: 3px 4px 15px rgba(255, 242, 25, 0.25);
  text-align: left;
  line-height: 130px;
}
